<!DOCTYPE html>
<html>
	<head>
		<!-- Hotjar Tracking Code for https://zeeguu.herokuapp.com/ -->
		<script>
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:389904,hjsv:5};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!--<link rel="stylesheet" href= "{{ url_for('static',filename='styles/custom.css') }}">-->
		<link rel="stylesheet" href= "../static/styles/custom.css">		
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">		
		<link rel="stylesheet" type="text/css" href="../static/styles/sweetalert.css">
		<link rel="stylesheet" type="text/css" href="../static/styles/success.css">
		<link rel="icon" href="../static/img/favicon.png" type="image/x-icon"/>
		
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	</head>	
	<body>
	
	<div id = "main-content"></div>
	
	<script src="../static/js/util.js"></script>
	<script src="../static/js/progress_bar.js"></script>
	<script src="../static/js/dist/sweetalert.min.js"></script>	
	<script src="../static/js/custom.js"></script>	
	<script src="../static/js/ex1.js"></script>	
	<script src="../static/js/main.js"></script>
	</body>
</html>