<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!--<link rel="stylesheet" href= "{{ url_for('static',filename='styles/custom.css') }}">-->
		<link rel="stylesheet" href= "../static/styles/custom.css">		
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">		
		<link rel="stylesheet" type="text/css" href="../static/styles/sweetalert.css">
		<link rel="icon" href="../static/img/favicon.png" type="image/x-icon"/>
		
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	</head>
	
	<body>    	
    <div class="ex-box-shadow ex-container">	
		<div class="container-fluid clear-top">
			<div class="row ex-header">
				<div class="col-xs-12">
					<h1 id = "ex-to"class = "text-center h1"></h1>			
					
					<div class="ex-progress">
					<p id = "ex-descript" class = "text-center h3">Find the word in the context</p>	
					
					  <div id="ex-bar">							  
					  </div>
					</div>
				</div>
			</div>
			
			<div class="row ex-content">
				<div class="col-xs-12 ">
					<p id = "ex-context" class="h3 clickable-text">						
					</p>
					
				</div>
			</div>
			<div class="row ex-footer">
				<div id = "show_solution" class="col-xs-3 ex-footer-elem ex-clickable" href="#" onclick="showAnswer()">
                    <img  class="clickable-symbol" src="../static/img/grey-question.png">
				</div>
				<div class="col-xs-6 ex-footer-elem">
					<input id = "ex-main-input" class="ex-input-box " placeholder="" data-original-title="" title="">
				</div>
				<div id = "check_answer"class="col-xs-3 ex-footer-elem ex-clickable" href="#" onclick="checkAnswer()">
                    <img class="clickable-symbol" src="../static/img/forward-green.png">						
				</div>
			</div>
		</div>
	</div>				
	<script src="../static/js/custom.js"></script>
	<script src="../static/js/progress_bar.js"></script>
	<script src="../static/js/dist/sweetalert.min.js"></script>
	<script src="../static/js/util.js"></script>
	</body>
</html>