<!--Exercise 1 custom template-->

<div>
	<div class = "custom-header">
		<div class="col-xs-12 text-center block-header">					
			<p id = "ex-descript" class = "h3"></p>				
			<p id = "ex-to" class = "h3"></p>					
		</div>
	</div>

	<div class="row ex-content">			
		<div class="col-xs-12 ">
			<p id = "ex-context" class="h3 clickable-text">						
			</p>					
		</div>		
	</div>

	<div class="row ex-footer">
        <div id = "ex-footer-primary" class = "hide">
            <div id = "show_solution" class="col-xs-3 ex-footer-elem ex-clickable" href="#">
                <img  class="clickable-symbol clickable-symbol-size" src="../static/img/grey-question.png">
            </div>

            <div class="col-xs-6 ex-footer-elem ex-clickable">
                <input id = "ex-main-input" class="ex-input-box" placeholder="" data-original-title="" title="">
            </div>

            <div id = "check_answer"class="col-xs-3 ex-footer-elem ex-clickable" href="#">
                <img class="clickable-symbol clickable-symbol-size" src="../static/img/next-ex.svg">
            </div>
        </div>
        <div id = "ex-footer-secondary"   >
            <div id = "feedback" class="col-xs-3 ex-footer-elem ex-clickable secondary-ex-footer-elem" href="#">
                <button class = " text-btn feedback-text-btn clickable-symbol">Feedback</button>
            </div>

            <div class="col-xs-6 ex-footer-elem">
            </div>

            <div id = "check_answer"class="col-xs-3 ex-footer-elem ex-clickable secondary-ex-footer-elem" href="#">
                 <img class="clickable-symbol clickable-symbol-size" src="../static/img/next-ex.svg">
            </div>
        </div>
	</div>


</div>

