<!--Exercise 2 template-->

<div>
	<div class = "custom-header">
		<div class="col-xs-12 text-center block-header">
			<p id = "ex-descript" class = "h3"></p>
			<p id = "ex-to" class = "h3"></p>
		</div>
	</div>

	<div class="row ex-content">
		<div class="col-xs-12 ">
			<p id = "ex-context" class="h3">
			</p>
		</div>
	</div>

	<div class="row ex-footer">
        <div id = "ex-footer-primary">
            <div id = "show_solution" class="col-xs-3 ex-footer-elem ex-clickable" href="#">
                <img  class="clickable-symbol" src="../static/img/grey-question.png">
            </div>

            <div class="col-xs-6 ex-footer-elem ex-clickable">
                <button type = "button" id = "btn1" class = "btn btn-default option-btn"></button>
                <button type = "button" id = "btn2" class = "btn btn-default option-btn"></button>
                <button type = "button" id = "btn3" class = "btn btn-default option-btn"></button>
            </div>
        </div>
        <div id = "ex-footer-secondary" class = "hide">

        </div>
	</div>
</div>