body
{
	background-color: #e9e9e9;  
	transition: all 0.9s;
	height: 100%;
}



.home-body{
	background-image: url("../img/star.svg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;
}

#loader {
    margin: auto; position: absolute; width: 100%; height: 100%;
}

.hide {
  display: none !important;
}
.fluid{
	width: 100%;
}



.home-container
{	
	display:block;
	margin: auto;
	margin-top: 20px;
	max-width:800px;
	min-height:200px;
	background-color: rgba(255,255,255,1);
    display:flex;
	box-shadow: 0 0 30px rgba(0,0,0,0.08);
	overflow: hidden;
	transition: all .5s; 
	
	border-radius: 10px 10px 10px 10px;
}

.home-header
{
	padding-top:20px;
	color: white;
	min-height: 85px;
	background-color: #0b4176;
	background-image:  url("../img/star.svg");
	margin-bottom: 10px;	
	position:relative;
	border-radius: 10px 10px 0px 0px;
}

.home-header-text
{
	margin: auto;
	width:100%;
	display:block;
	text-align: center;
}

.home-content
{
	background-color: white;
	height:300px;
	margin-top:100px;
}

.home-footer
{
	margin-top: 10px;	
	bottom: 0;
	position: relative;
	min-height: 50px;	
	clear:both;
	display:block;
	position: relative;
}
.ex-time
{
	text-align:right;
}
.ex-time span
{
	color: #BDBDBD !important;
}

.home-btn
{
	width: 100%;
	min-height: 200px;	
	display:block;
	margin: auto;
	background-color: rgba(255,255,255,1);
	border-radius:10px;
	box-shadow: 0 0 30px rgba(0,0,0,0.08);
    border-radius: 10px;
	overflow: hidden;
	transition: all .5s; 
	cursor: pointer;
	margin: 5px;
	padding: 0px 10px 10px 10px;
}
.btn-img
{
	display:block;
	height: 80px;
	background-image: url("../img/icons/placeholder.svg");
    background-repeat: no-repeat;
    background-position: center; 
	margin-bottom: 20px;
}
.info-bar
{
	text-align:left;
}
.info-descript
{
	margin-top: 10px;
	color: #616161 !important;		
	white-space: normal;
	display:block;
}

.home-btn span
{
	color: #212121;
	word-wrap: break-word;
}

.home-btn:hover
{
	background-color: #EEEEEE;
	opacity: 1;
}


.btn-secondary-empty-page
{
	background-color: white !important;
	color: #0091EA;
	font-weight: bold;
	border: 1px solid #0075b6;
}
.btn-secondary-empty-page:hover
{
	color: #0091EA;
	border: 1px solid #009FFF;
}

.ex-box-shadow
{
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
}

.ex-container
{
	display:block;
	margin: auto;
	margin-top: 20px;
	max-width:800px;
	background-color: rgba(255,255,255,1);
    display:flex;
	border-radius:10px;
	box-shadow: 0 0 30px rgba(0,0,0,0.08);
	overflow: hidden;
	transition: all .5s; 
}


.ex-header
{	
	
}


.ex-footer
 {
	bottom: 0;
	position: relative;
	min-height: 75px;	
	clear:both;
	background-color: #dbdbdb;
	display:block;
	position: relative;
	border-radius: 0px 0px 10px 10px;
	display: flex;
} 

.ex-footer-elem
{
	display:inline-block;
	margin:auto;
	transition: background-color 0.5s ease;
    height: 100%;
}


.ex-footer-elem-left
{
	border-radius: 0px 0px 0px 10px;
}

.ex-footer-elem-right
{
	border-radius: 0px 0px 10px 0px;
}


.ex-footer-elem:hover
{
	background-color: #EEEEEE;
}

.text-btn
{
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	font-family: Arial;
	color: #7ca500;
	font-size: 12px;
	border:solid #cde786;;
	background: #def0a5;
	padding: 10px 20px 10px 20px;
	font-weight: bold;
	text-decoration: none;
	outline: none;
}

.check-text-btn {
	color: white;
	font-size: 12px;
	border:none;
	background: #7ca500;
	font-size: 15px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.check-text-btn:hover {

}

.feedback-text-btn {
	color: #7ca500;
	font-size: 12px;
	border:solid #cde786;;
	background: #def0a5;
}
.feedback-text-btn:hover {
	color: #7ca500;
}
.secondary-ex-footer-elem:hover
{
	background: #cde786;
}

#ex-footer-secondary
{
	align-items: stretch;
	height: 100%;
	width: 100%;
	background: #def0a5;
}

#ex-footer-primary
{

	position: relative;
	align-items: stretch;
	height: 100%;
	width: 100%;
}


.block-header
{
	display:block;
	margin-bottom:25px;
	font-size: 25px;
	color: rgba(128,128,128,1);
}

#ex-descript
{
	display: inline;
	text-shadow: 0px 0px black;		
	font-weight: 100;
}

#ex-to
{	
	font-size: 30px !important;
	font-weight: 600;
	display: inline;
}

.ex-content
{
	overflow:auto;
	min-height:250px;
	max-height:250px;
	text-align: justify;
    text-justify: inter-word;
	font: 16px arial,sans-serif;
	padding: 20px 50px;
}

.ex3-content
{
}

.centering
{
    text-align: center;
}

.ex-context
{
	transition: all .9s; 
}

.ex-clickable
{
	cursor:pointer;
	min-height:75px;
	text-align: center;
}

.clickable-symbol {
	margin: 15px auto auto;
	text-align: center;
    display:table-cell;
    vertical-align:middle;
}

.clickable-symbol-size
{
	width: 45px;
    height: 45px;
}

.ex-input-box
{
	width: 100%;
    padding: 12px 20px;    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;	
	margin-top: 15px;
	text-align: center;
	font: 16px arial,sans-serif;
}

.ex-progress {
	margin-top:10px;
	margin-bottom:30px;
	position: relative;
	width: 100%;
	height: 30px;
	background-color: #c5c5c5;
	border-radius: 15px;
	overflow:hidden;
}



#ex-bar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-image: linear-gradient(to left, #3eb495, #7eb530);
  transition: all .5s;
  border-radius: 15px;
  transition-delay: 2s;
}

#ex-status{
	height: 56px;
	margin-bottom: 20px;
}
#ex-status-container{
	
}

#ex-progress-label {
  text-align: center;
  line-height: 30px;
  color: white;
}
.clickable-text{
	cursor:pointer;
}

.option-btn{
    height: 50px;
	min-width: 80px;
	max-width: 175px;	
	margin-top: 12px;
	display: inline-block;
	white-space: normal;
	text-align: center;
	text-overflow: ellipsis;
	overflow:hidden;
}
.ellipsis
{
    text-overflow: ellipsis;
}


.btn:focus {
    outline-style: none;
}

#footnotes
{
	text-align:center;
	color: grey;
	margin:auto;
}
#footnotes a
{
	cursor:pointer;	
	color:grey;
}

.emoji-icon
{
	display: inline-block;
	height: 15px;
	width: 15px;
	margin-right: 6px;
}

.empty-page-content
{
	margin: 50px auto auto;
	display: block;
	min-height: 500px;
	max-width: 500px;
}
.empty-page-container span
{
    display: inline-block;
    width: 100%;
    color: #424242;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.empty-page-container a
{
    border: solid #0091EA;
    border-radius: 2px;
    background-color: #0091EA;
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: inline-block;
    font-size: 11px;
    margin-bottom: 10px;
    transition:.5s;
}
.empty-page-container a:hover
{
    border: solid #0085d8;
    background-color: #0085d8;
}
.empty-page-container {
	width: 100%;
	min-height: 200px;
	display: block;
	margin: auto;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	overflow: hidden;
	transition: all .5s;
	margin: 5px;
	padding: 0px 10px 10px 10px;
	text-align: center;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.empty-page-content-img
{
    width: 100%;
    height: 130px;
    margin-top: 20px;
    background: no-repeat center;
    background-size: contain;
}

.empty-page-title
{
    margin-top: 35px;
    color: #616161 !important;
}
.empty-page-info {
	margin-top: 5px;
	margin-bottom: 20px;
	color: #9E9E9E !important;
}
/** Shake animation*/
.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.shakable{
}
.wrongAlert{
	border: solid #FFCC00;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/** Slide animations*/
 .post {} /* do not change this */

.mask {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 100%;
	left: 0;

	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=2);
	opacity: 2;
	-webkit-transition: all 0.3s ease-out 0.3s;
	-moz-transition: all 0.3s ease-out 0.3s;
	-o-transition: all 0.3s ease-out 0.3s;
	-ms-transition: all 0.3s ease-out 0.3s;
	transition: all 0.4s ease-out 0.2s;
}

.mask-appear {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: 0;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
}
