/* responsive queries */


@media (max-width: 400px) {
    .responsive-btn {
        font-size:12px;
        padding:10px 10px;
        margin-top: 19px;
    }
}

@media (max-width: 360px) {
    .ex-clickable {
        min-height:50px;
    }
    .ex-input-box{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .clickable-symbol{
        margin-top: 5px;
        margin-bottom: 4px;
    }
    .responsive-btn {
        height:100%;
        margin-top: 9px;
        margin-bottom: 8px;
    }
}



