<!--Exercise 3 template-->

<div id = "ex-module">	
	<div id="loader"></div>
    <div id = "ex-container" class="ex-box-shadow ex-container hide">			
		<div class="container-fluid clear-top fluid">
			<div class="row ex-header">
				<div class="col-xs-12">
					<div class="ex-progress">
						<p id = "ex-descript" class = "text-center h3">Match the words</p>						
						<div id="ex-bar"></div>	
					</div>
					<h1 id = "ex-to"class = "text-center h1"></h1>	
					<div id="ex-status"></div>
				</div>
			</div>
			
			<div class="row ex-content">
				<div class="col-xs-6">
					<button type = "button" id = "btn1" class = "btn btn-default option-btn"></button>				
					<button type = "button" id = "btn3" class = "btn btn-default option-btn"></button>
					<button type = "button" id = "btn2" class = "btn btn-default option-btn"></button>
				</div>
				<div class="col-xs-6">
					<button type = "button" id = "btn4" class = "btn btn-default option-btn"></button>
					<button type = "button" id = "btn5" class = "btn btn-default option-btn"></button>
					<button type = "button" id = "btn6" class = "btn btn-default option-btn"></button>
				</div>
				
			</div>
			<div class="row ex-footer">
				<div id = "show_solution" class="col-xs-3 ex-footer-elem ex-clickable" href="#">
                    <img  class="clickable-symbol" src="../static/img/grey-question.png">
				</div>
				
				<div class="col-xs-6 ex-footer-elem">
				</div>
				<div id = "check_answer"class="col-xs-3 ex-footer-elem ex-clickable" href="#">
                    <img class="clickable-symbol" src="../static/img/forward-green.png">						
				</div>
			</div>
		</div>
	</div>
</div>	