<!--General xercise template-->

<div id = "ex-module">	
	<div id="loader"></div>	
	<div id = "ex-container" class="ex-container ex-box-shadow">
		<div class="container-fluid clear-top fluid">
			<div class="row ex-header">
				<div class="col-xs-12">
					<div class="ex-progress">
						<p id = "ex-descript" class = "text-center h3"></p>						
						<div id="ex-bar"></div>	
					</div>
					<h1 id = "ex-to"class = "text-center h1"></h1>	
					<div id="ex-status">
						<div id = "ex-status-container" class = "status-animation hide"><svg id = "temp-ex-success" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg></div>
					</div>
				</div>
			</div>
			
			<div class="row ex-content">
				<div class="col-xs-12 ">
					<p id = "ex-context" class="h3 clickable-text">						
					</p>					
				</div>
			</div>
			<div class="row ex-footer">
				<div id = "show_solution" class="col-xs-3 ex-footer-elem ex-clickable" href="#">
					<img  class="clickable-symbol" src="../static/img/grey-question.png">
				</div>
				
				<div class="col-xs-6 ex-footer-elem ex-clickable">
					<input id = "ex-main-input" class="ex-input-box " placeholder="" data-original-title="" title="">
				</div>
				<div id = "check_answer"class="col-xs-3 ex-footer-elem ex-clickable" href="#">
					<img class="clickable-symbol" src="../static/img/forward-green.png">						
				</div>
			</div>
		</div>
	</div>	
</div>  