<!--Home page-->
<div id = "home-body">
	<div id = "home-container" class = "home-container">	
		<div class="container-fluid clear-top fluid">	
			<div class="row home-header">
				<div class="col-xs-12">
					<span class = "h1">Choose an Exercise</span>
				</div>
			</div>				
			<div class="row home-content">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<a type = "button" id = "btn1" class = "btn home-btn"><span class = "h3">Find</span></a>
				</div>	
				<div class="col-xs-12 col-sm-6 col-md-3">
					<a type = "button" id = "btn2" class = "btn home-btn"><span class = "h3">Choose</span></a>
				</div>	
				<div class="col-xs-12 col-sm-6 col-md-3">
					<a type = "button" id = "btn3" class = "btn home-btn"><span class = "h3">Match</span></a>
				</div>	
				<div class="col-xs-12 col-sm-6 col-md-3">						
					<a type = "button" id = "btn4" class = "btn home-btn"><span class = "h3">Translate</span></a>
				</div>	
			</div>				
			<div class="row home-footer">	
				<div class="col-xs-12"></div>
			</div>				
		</div>		
	</div>	
</div>